<%= form_for(@question , :url=>@question.id ? admin_question_path(@question) : admin_questions_path ) do |f| %>
  <div class="grid_16">
    <%= render :partial=>'shared/form_errors', :locals=>{:obj=>@question} %>
    <div class="box">
      <h2><%= form_title%></h2>
      <div class="block">
          <div class="page_actions">
            <%= f.label :question %>
            <%= f.text_area :question, :class=>"text", :rows=> 4 %>              
          </div>
          <div class="page_actions">
            <%= f.label :answer %>
            <%= f.text_area :answer, :class=>"text" %>              
          </div>
          <div class="page_actions">
            <%= f.label :activity_category_id %>
            <%= f.select :activity_category_id, options_for_select([["غير متعلق بنشاط محدد", ""]]) + options_from_collection_for_select( ActivityCategory.select("id,name"), "id", "name", @question.activity_category_id) %>
          </div>
          <div class="page_actions">
            <%= f.label :position %>
            <%= f.text_field :position, :class=>"text medium"%>              
          </div>
          <p class="controls">
            <%= f.submit "حفظ السؤال", :class=>"button" %> <%= link_to "إلغاء", admin_questions_path %>
          </p>
      </div>
    </div>
  </div>
<% end %>