<p style="color:#000;font-size:normal;font-size:1.1em;padding:0;margin:0 0 10px;">عزيزي المتطوع <%= @activity.user.name %> ،</p>
<p style="color:#222;padding:0;margin:5px 0;">لقد قام المشرفون برفض طلبك ل<%= (@previous_state == ActivitiesStatus.request_close) ? 'إنهاء':'إلغاء' %> العمل التطوعى : <%= link_to @activity.title, @url %></p>
<% unless @activity.rejection_reason.blank? %>
<p style="color:#222;padding:0;margin:5px 0;">وأضاف المشرف التعليق التالى لتوضيح سبب الرفض :</p>
<p style="color:#222;padding:0;margin:5px 0;"><%= @activity.rejection_reason %></p>
<% end %>
<div style="color:#999;padding-top:15px;" align="left" >
  <p style="margin:5px 0;color:#777;">شكراً لكم ،</p>
  <p style="margin:5px 0;color:#777;">فريق رساله</p>
  <p style="margin:5px 0;"><a href="<%= SITE_URL %>" style="outline: none;color: #2F72A9;text-decoration: none;">www.resala.org</a></p>
</div>