<p style="color:#000;font-size:normal;font-size:1.1em;padding:0;margin:0 0 10px;">عزيزى المتطوع <%= @volunteer.name %> ،</p>
<p style="color:#222;padding:0;margin:5px 0;">هذه رسالة لتذكيرك بالعمل التطوعى: <%= link_to @activity.title,  "#{SITE_URL}/activities/#{@activity.id}" %> الذى قمت بالاشتراك به والذى يبدأ فى <%= l @activity.start_date, :format=>:short %> </p>

<h2 style=" margin:0;"><%= link_to @activity.title,  "#{SITE_URL}/activities/#{@activity.id}" %></h2>
<p style="margin:0; font-size:17px; margin-top:5px;"><%= @activity.description.html_safe %></p>

<div style="color:#999;padding-top:15px;" align="left" >
  <p style="margin:5px 0;color:#777;">شكراً لكم ،</p>
  <p style="margin:5px 0;color:#777;">فريق رساله</p>
  <p style="margin:5px 0;"><a href="<%= SITE_URL %>" style="outline: none;color: #2F72A9;text-decoration: none;">www.resala.org</a></p>
</div>

